
    <header class="header-global">
        <nav id="navbar-main" aria-label="Primary navigation" class="navbar navbar-main navbar-expand-lg navbar-theme-primary headroom navbar-dark">
            <div class="container position-relative">
                <a class="navbar-brand me-lg-5" href="./about.html">
                    <img class="navbar-brand-dark" src="/static/assets/img/brand/light.svg" alt="Logo light">
                    <img class="navbar-brand-light" src="/static/assets/img/brand/dark.svg" alt="Logo dark">
                </a>
                <div class="navbar-collapse collapse me-auto" id="navbar_global">
                    <div class="navbar-collapse-header">
                        <div class="row">
                            <div class="col-6 collapse-brand">
                                <a href="./index.html">
                                    <img src="/static/assets/img/brand/dark.svg" alt="Themesberg logo">
                                </a>
                            </div>
                            <div class="col-6 collapse-close">
                                <a href="#navbar_global" class="fas fa-times" data-bs-toggle="collapse" data-bs-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" title="close" aria-label="Toggle navigation"></a>
                            </div>
                        </div>
                    </div>
                    <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
                        <li class="nav-item">
				<div class="texte-grossissant">
					<a href="/test.html" class="nav-link">Shiatsu</a>
				</div>
                        </li>
                        <li class="nav-item ">
				<div class="texte-grossissant">
				      <a href="reflexologie.html" class="nav-link">Réflexologie</a>
				</div>
			<li class="nav-item">
				<div class="texte-grossissant">
                            		<a href="Bol-tibétain.html" class="nav-link">Bol tibétain</a>
				</div>
			<li class="nav-item">
				<div class="texte-grossissant">
					<a href="le_cabinet.html" class="nav-link">Cabinet</a>
				</div>
			<li class="nav-item">
				<div class="texte-grossissant">
					<a href="tarifs.html" class="nav-link">Tarifs</a>
				</div>
                        </li>
			<li class="nav-item">
				<div class="texte-grossissant">
					<a href="charte.html" class="nav-link">Charte</a>
				</div>
			</li>

                    </ul>
                </div>
                <div class="d-flex align-items-center">
		    <a href="https://www.resalib.fr/praticien/83144-laetitia-goddard-praticien-shiatsu-lyon" 
                       target="_blank" class="btn btn-tertiary"><i class="fas fa-calendar-day me-2"></i> Réservation avec Résalib</a>
                    <button class="navbar-toggler ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </div>
        </nav>
    </header>

