{% extends "layouts/base.html"%}

{% block title %} Test {% endblock %}

{% block stylesheets %}{% endblock stylesheets %}

{%block content%}

	<main>


		<div class="section-header pb-6 bg-primary text-white">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-12 col-md-8 text-center">
						<h1 class="display-3 mb-4">Reflexologie</h1>
						<p class="lead mb-5">Page de présentation de la réflexologie</p>
					</div>
				</div>
			</div>
		</div>

		<!-- Nous commencons une autre section, celle qui contiendra le plus d'information-->

		<div class="section section-md">
			<div class="container">
				<!--Titre de ce paragraphe-->
				<div class="row mt-5 mb-3">
					<div class="col-md-4">
						<div class="mb-2">
							<h4 class="h5">Qu'est ce que la rélfexologie ?</h4>
							<p class ="lead mb-5">La relexologie  consiste à faire ceci et cela blablablabalbalbalbalbalabalbalbalablablabalbblablablablablablablablabla</p>

						</div>
					</div>
				</div>
			</div>
		</div>
			

		</main>

{% endblock content %}


