{% extends "layouts/base.html"%}

{% block title %} Test {% endblock %}

{% block stylesheets %}{% endblock stylesheets %}

{%block content%}

	<main>


		<div class="section-header pb-6 bg-primary text-white">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-12 col-md-8 text-center">
						<h1 class="display-3 mb-4">Reflexologie</h1>
						<p class="lead mb-5">Page de présentation de la réflexologie</p>
					</div>
				</div>
			</div>
		</div>

		<!-- Nous commencons une autre section, celle qui contiendra le plus d'information-->

		<div class="section section-md">
			<div class="container">
				<!--Titre de ce paragraphe-->
				<div class=" mt-5 mb-3">
						<div class="mb-2">
							<h1 class="h1">Qu'est ce que la réflexologie ?</h1>
							<p class ="lead mb-5">La réflexologie est une pratique thérapeutique qui repose sur le principe selon lequel certaines zones des pieds, des mains et des oreilles sont reliées à d'autres parties du corps. En stimulant ces zones spécifiques par des techniques de massage et de pression, les réflexologues croient qu'ils peuvent promouvoir la guérison, soulager le stress et améliorer le bien-être général. Cette méthode s'appuie sur l'idée que ces points réflexes correspondent à des organes et des systèmes corporels, et que leur stimulation peut aider à rétablir l'équilibre énergétique du corps. Bien que la réflexologie soit souvent utilisée comme complément à d'autres traitements médicaux, elle ne remplace pas les soins médicaux conventionnels. Elle est appréciée pour ses effets relaxants et est souvent utilisée pour réduire la tension et le stress, améliorer la circulation sanguine et soutenir les mécanismes naturels de guérison du corps.</p>

						</div>
					</div>
				</div>
			</div>
		</div>
			

		</main>

{% endblock content %}


